# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store
DS_Store
*.toml
.DS*
AGENTS*
*.clinic*
*.claude*
claude*
CLAUDE*
*.bak*
cls_*
*.env
.env.local
.env*
client_secret_851625125651-0bo8rqq00dkmf1i94b86sk3im7iacbsn.apps.googleusercontent.com.json

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
